@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./mod_table.scss";
@import "./pack_controls.scss";
@import "./mod_picker.scss";

body {
    background-color: $body-bg;
    color: $body-color;
    display: flex;
    flex-direction: column;
    padding: $gap;
    gap: $gap;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}

#banner {
    background-color: #086620;
    color: $body-color;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    // center text
    display: flex;
    justify-content: center;
    align-items: left;
    font-size: large;
}

#openedPackBox {
    background-color: $darker-bg;
    color: $body-color;
    padding: $gap;
    display: flex;
    gap: $gap;
}

#openedPackLabel {
    width: unset;
    height: unset;
}

#packOpenButton {
    min-width: 100px;
    color: $body-color;
}

#packOptions {
    background-color: $darker-bg;
    color: $body-color;
    padding: $gap;
    display: flex;
    gap: $gap;
}

.boxed-input {
    flex-grow: 1;
    :not(label) {
        background-color: $darker-bg;
    }
}

#modTableArea {
    flex-grow: 1;
    padding: $gap;
    background-color: $darker-bg;
    box-sizing: border-box;
    isolation: isolate;
    position: relative;
    min-height: 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

#modInputBox {
    display: flex;
    gap: 0px;
}

#modSearchInput {
    min-width: 400px;
}

#modSearchButton {
    border-radius: 0px;
    height: 100%;
    color: $body-color;
}

#modSearchOverlay {
    position: absolute;
    width: 400px;
    height: 430px;
    border: 1px solid black;
    opacity: 90%;
    background-color: $much-darker-bg;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.mod-search-result {
    display: flex;
    gap: $gap;
    margin: $gap;
    align-items: center;
}
.mod-search-result-installed {
    color: $danger;
}
.mod-search-result img {
    width: 32px;
    height: 32px;
}
.mod-search-result span {
    flex-grow: 1;
}
.mod-search-result span:hover {
    color: $primary;
    cursor: pointer;
}

#modAddBox {
    margin: $gap;
}

.page-dialog
{
    background: $body-bg;
    color: $body-color;
}
.page-dialog form {
    display: flex;
    flex-direction: column;
    gap: $gap;
    align-items: left;
}
.page-dialog form menu button {
    min-width: 150px;
}
.page-dialog form menu {
    display: flex;
    gap: $gap;
    padding: 0px;
    margin: 0px;
}