@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$gap: 5px;
$darker-bg: darken($body-bg, 5%);
$much-darker-bg: darken($body-bg, 15%);

body {
    background-color: $body-bg;
    color: $body-color;
    display: flex;
    flex-direction: column;
    padding: $gap;
    gap: $gap;
}

#openedPackBox {
    background-color: $darker-bg;
    color: $body-color;
    padding: $gap;
    display: flex;
    gap: $gap;
}

#openedPackLabel {
    width: unset;
    height: unset;
}

#packOpenButton {
    min-width: 100px;
    color: $body-color;
}

#packOptions {
    background-color: $darker-bg;
    color: $body-color;
    padding: $gap;
    display: flex;
    gap: $gap;
}

.boxed-input {
    flex-grow: 1;
    :not(label) {
        background-color: $darker-bg;
    }
}

#modTableArea {
    flex-grow: 1;
    padding: $gap;
    background-color: $darker-bg;
    isolation: isolate;
}

#modInputBox {
    display: flex;
    gap: 0px;
}

#modSearchInput {
    min-width: 400px;
}

#modSearchButton {
    border-radius: 0px;
    height: 100%;
    color: $body-color;
}

#modSearchOverlay {
    position: absolute;
    width: 400px;
    height: 430px;
    border: 1px solid black;
    opacity: 90%;
    background-color: $much-darker-bg;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.mod-search-result {
    display: flex;
    gap: $gap;
    margin: $gap;
    align-items: center;
}
.mod-search-result img {
    width: 32px;
    height: 32px;
}
.mod-search-result span {
    flex-grow: 1;
}
.mod-search-result span:hover {
    color: $primary;
    cursor: pointer;
}
.footer-cell {
    color: $secondary;
}

#modAddBox {
    margin: $gap;
}

#modTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $light;
    background-color: $body-bg;
    color: $body-color;
    margin: $gap;
    margin-top: calc($gap * 2);
    overflow: auto;
}
#modTable thead {
    padding: $gap;
    border-bottom: 1px solid $light;
}
#modTable thead tr {
}
#modTable thead tr th {
    padding: $gap;
    border-right: 1px solid $light;
    font-weight: bold;
}
#modTable tbody {
}
#modTable tbody tr {
    border-bottom: 1px solid $light;
}
#modTable tbody tr td {
    padding: $gap;
    min-height: 32px;
    border-right: 1px solid $light;
}

